@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#navbar{
    z-index: 999;
    overflow: hidden;
    background-color: #b0aca552;
    border: none;
    box-shadow: none;
}

.banner-bg-color{
    background-color: #b0aca552;
    border: none;
    box-shadow: none;
    margin-top: 56px;
   
}
.banner-right-image{
    background-image: url('images/banner-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 350px;
    border-radius: 2000px 600px 300px 500px / 1550px 600px 900px 500px;
}

.creative-title{
    color:#FF7214;
    letter-spacing: 1px;
}

.custom-btn-bg{
    background-color: rgba(255, 114, 20, 1);
}

.about1{
    width: 225px;
    height: 300px;
    margin-top: 80px;
}
.about2{
    width: 225px;
    height: 300px;
    margin-top: 20px;
}
.about{
    margin-left: -35px;
}

.about-span{
    font-size: 12px;
}

#learn-more{
    height: 40px;
}

.arrow-margin{
    margin-top: -13px;
    margin-left: 5px;
}

#special-features{
    font-size: 14px;
}

.card-img1, .card-img2, .card-img3, .card-img4{
    width: 80px;
    padding: 20px;
}

#card-text{
    font-size: 13px;
}

.card-img1{
    background-color: #d6c4cc;
}
.card-img2{
    background-color: #D4D4D4;
}
.card-img3{
    background-color: #AACDD4;
}
.card-img4{
    background-color: #D4C2CA;
}

#creative-left, #creative-right, #creative-graphic-right{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    height: 400px;
}


#creative-right{
    background-image: url('images/creative-work.png');
}

#creative-left{
    background-image: url('images/green-earth.png');
}

#creative-graphic-right{
    background-image: url('images/graphic-design.png');
}

.project-count{
    background-color: #12303E;
}

#testimonials-left-img{
    background-image: url('images/testimonials.png');
    background-color: rgba(0,0,0, 0.4);
    height: 450px;
}

.fas.fa-play-circle{
    color: #FF7214;
    font-size: 50px;
    -webkit-box-shadow: 0px 5px 27px 14px #6C4125; 
    box-shadow: 0px 5px 27px 10px #6C4125;
    border-radius: 50px;
    cursor: pointer;
}

.right-arrow-bg{
    margin-left: -20px;
}

.team-member{
    width: 97%;
    height: 350px;
    margin: 5px auto;
    border-radius: 5px;
}

.card-body ul li{
    cursor: pointer;
    font-size: 14px;
    color: gray;
}

.far.fa-comment-alt, .far.fa-heart{
    margin-top: -13px;
    color: #FF7214;
}

.fas.fa-map-marked-alt, .fas.fa-phone-volume, .fas.fa-envelope-open-text{
    margin-top: -20px;
    font-size: 19px;
}

#top-footer{
    background-color: #162B45;
}

#footer-title{
    font-weight: 100;
}

#footer-paragraph, .footer-ul{
    font-size: 15px;
    font-weight: 100 !important;
    color: gray;
}
.footer-ul{
    list-style: none;
}

.footer-ul li{
    cursor: pointer;
    margin-top: 10px;
    margin-left: -30px;
}

#bottom-footer{
    background-color: #1F2424;
}

#bottom-footer p{
    font-size: 12px;
}

#bottom-footer span, #bottom-footer a{
    color: #B35615;
}
